{% extends "base.html" %}

{% block content %}
<main class="container">
    <div class="card">
    <!-- Flash Messages -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="flash-messages">
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
            
    
        <div class="welcome-section">
            <h2>User Profile</h2>
            {% if current_user.is_authenticated %}
                <p class="user-desc">Hello, {{ user.name }}! You are logged in as a {{ user.role }}.</p>
            {% endif %}
        </div>

        <div class="profile-header">
            <img src="{{ url_for('static', filename=current_user.profile_picture or 'images/profile_pictures/default_avatar.png') }}" 
                    alt="Profile Picture" 
                    class="profile-picture">
                {% if user.role == 'trainer' %}
                    {% if user.trainers and user.trainers[0].verified == 'approved' %}
                        <span class="verified-icon">✔️ Verified</span> <!-- Display verified icon if verified -->
                    {% endif %}
                    <form action="{{ url_for('get_verified') }}" method="POST">
                        <button type="submit" class="toggle-button">Get Verified</button> <!-- Submit button to request verification -->
                    </form>
                {% endif %}
        </div>
        <strong>Information</strong>
        <table class="info-table">
            <tbody>
                <tr>
                    <th>Name</th>
                    <td>{{ user.name }}</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>{{ user.email }}</td>
                </tr>
                <tr>
                    <th>Mobile Number</th>
                    <td>{{ user.mobile_number }}</td>
                </tr>
                <tr>
                    <th>Role</th>
                    <td>{{ user.role }}</td>
                </tr>
                <tr>
                    <th>Created At</th>
                    <td>{{ user.created_at.strftime('%Y-%m-%d %H:%M:%S') }}</td>
                </tr>
            </tbody>
        </table>

        <a href="{{ url_for('edit_profile', user_id=user.id) }}" class="edit-button btn btn-primary">Edit Your Profile</a>
    </div>
</main>
{% endblock %}